// ul { --accent-color: purple; }
// ol { --accent-color: rebeccapurple; }
// li { background: var(--accent-color); }
header {
    background-color: purple;
    height: 46px;
    line-height: 46px;
    color: #fff;
}